*,
html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    padding-left: 500px;
    padding-right: 500px;
    padding: 20px;
    padding-bottom: 20px;
    padding: 12px 350px;
    background-color: rgb(1, 9, 31);
    margin-bottom: 50px;
    gap: 15px;
}
a{
        text-decoration: none;
        color: gray;
        margin: 10px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

}
.btn1{
        background: linear-gradient(to right,rgb(81, 81, 253),rgb(19, 170, 240));
        color: white;
        padding: 15px 27px;
        border: none;
        border-radius: 20px;
        border: 15px;
        font-size: 18px;
}
.btn2{
        background: linear-gradient(to right,rgb(202, 133, 3),orange);
        color: white;
        padding: 15px 35px;
        border: none;
        border-radius: 20px;
        border: 15px;
        font-size: 18px;
}
.div-jon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.div-jon-ichi{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.div-jon-ichi-p{
    color: white;
    font-weight: bold;
}
.rasm{
    width: 641px;
}
.section-1{
    padding-left: 375px;
    padding-right: 375px;
}
h1{
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:700;
    padding-bottom: 30px;
    color: white;
}
.p-cha{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    padding-bottom: 20px;
}
.btn3{
        background: linear-gradient(to right,rgb(105, 105, 243),rgb(19, 170, 240));
        color: white;
        padding: 20px 40px;
        border: none;
        border-radius: 20px;
        border: 15px;
        font-size: 18px;
        margin-bottom: 120px;
}
.section-1-ichi{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}
body{
    background-color: rgb(1, 9, 31);
}
.rmd{
        display: flex;
        margin-left: 370px;
        width: 1200px;
        gap: 15px;
}
.div7{
        padding-left: 20px;
        padding-top: 25px;
        width: 910px;
        height: 170px;
        background-color: #f1f1f1;
        background-color: rgb(41, 46, 58);
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 100px;
        border-radius: 15px;
}
h2{
    color: white;
    font-size: 38px;
    margin-top: 20px;
}
.fcb{
    font-size: 18px;
    color: rgb(175, 174, 174);
}
.mol{
    background: linear-gradient(to right,rgb(0, 90, 0),rgb(1, 167, 1));
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 120px;
    margin-left: 230px;
    top: 770px;
}
.mol-1{
    background: linear-gradient(to right,rgb(12, 12, 252),rgb(19, 170, 240));
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;     
    bottom: 120px;
    margin-left: 230px;
    top: 770px;
}
.mol-2{
    background: linear-gradient(to right,rgb(153, 3, 3),rgb(255, 73, 73));
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 120px;
    margin-left: 230px;
    top: 770px;
}
.mol-3{
    background: linear-gradient(to right,rgb(109, 71, 1),orange);
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    bottom: 120px;
    margin-left: 230px;
    top: 770px;
}
.p-bacha{
    font-size: 30px;
}
.div8{
        padding-left: 20px;
        padding-top: 25px;
        width: 910px;
        height: 170px;
        background-color: #f1f1f1;
        background-color: rgb(41, 46, 58);
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 100px;
        border-radius: 15px;
}
.div9{
        padding-left: 20px;
        padding-top: 25px;
        width: 910px;
        height: 170px;
        background-color: #f1f1f1;
        background-color: rgb(41, 46, 58);
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 100px;
        border-radius: 15px;
}
.div10{
        padding-left: 20px;
        padding-top: 25px;
        width: 910px;
        height: 170px;
        background-color: #f1f1f1;
        background-color: rgb(41, 46, 58);
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 100px;
        border-radius: 15px;
}
.div7:hover{
    background: linear-gradient(to right,rgb(12, 12, 252),rgb(19, 170, 240));
}

.div8:hover{
    background: linear-gradient(to right,rgb(202, 5, 5),rgb(241, 140, 6));
}
.div9:hover{
    background: linear-gradient(to right,rgb(173, 113, 1),rgb(250, 177, 41));
}
.div10:hover{
    background: linear-gradient(to right,rgb(3, 163, 3),rgb(3, 216, 3));
}