*,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
        align-items: center;
        padding-left: 300px;
        padding-right: 300px;
        justify-content: space-between;
        padding: 20px;
        padding-bottom: 20px;
        padding: 40px 100px;
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
        border-bottom: 1px solid rgb(53, 52, 52);
}
a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        margin: 10px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 18px;
    }
    span{
        color: blue;
    }
    .speedo{
        width: 150px;
    }
    .header-div-2{
        gap: 30px;
    }
    body{
    }
    .header-div-3{
        display: flex;
        gap: 40px;
    }
section{
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: 0;
    padding-top: 100px;
    padding-left: 100px;
}
.div-katta-ichi-1{
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
}
.car{
    width: 700px;
}
.div-katta-ichi-1-p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}