*,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f5f7fa;
    color: #333;
}
.quti{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
header{
    background-color: #1e90ff;
    color: white;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.menu{
    list-style: none;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: white;
}
.hero{
    background:  url(uzbekistan.png) center/cover;
    color:white;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.hero-content h2{
    font-size: 48px;
}
.hero button{
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    background-color: #f4c542;
    cursor: pointer;
    border-radius: 4px;
}
.manzillar{
    display: flex;
    flex-direction: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.karta{
    width: 360px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.karta img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
.karta h3{
    padding: 10px;
}
.karta p{
    padding: 0 10px;
}
.karta button{
    margin: 10px;
    padding: 8px 15px;
    background-color: #1e90ff;
    color: white;
    border: none;
}
.manzillar h2{
    padding-bottom: 30px;
}
.kartalar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
footer{
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
@media (max-width:768px){
    .kartalar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        }
}
@media (min-width:769px){
    .kartalar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
        }
}